<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Put money</title>
</head>
<body>
<div class="container">
    <h1>ATM</h1>
    <hr>
    <h2>Put money</h2>

    <form action="#" th:action="@{/put/money}" th:object="${parameters}" method="post">
        <div>
            <label>Card Number:</label>
            <input type="text" th:field="${parameters.credentials.cardNumber}" placeholder="Card number" class="form-control mb-4 col-4"/>
        </div>
        <div>
            <label>Pin:</label>
            <input type="text" th:field="${parameters.credentials.pin}" placeholder="Pin" class="form-control mb-4 col-4"/>
        </div>
        <div>
            <label>Banknotes</label>
        </div>
        <table border="1" style="width:300px">
            <tr>
                <td>5000</td>
                <td>1000</td>
                <td>500</td>
                <td>100</td>
            </tr>
            <tr>
                <td>
                    <input type="number" th:field="${parameters.banknotes.note5000}" placeholder="Notes"
                           class="form-control mb-4 col-4"/>
                </td>
                <td>
                    <input type="number" th:field="${parameters.banknotes.note1000}" placeholder="Notes"
                           class="form-control mb-4 col-4"/>
                </td>
                <td>
                    <input type="number" th:field="${parameters.banknotes.note500}" placeholder="Notes"
                           class="form-control mb-4 col-4"/>
                </td>
                <td>
                    <input type="number" th:field="${parameters.banknotes.note100}" placeholder="Notes"
                           class="form-control mb-4 col-4"/>
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-info col-2">Put money</button>
    </form>
    <hr>
    <a th:href="@{/}">Back to main page</a>
</div>
</body>
</html>
